:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
}
#user{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background: var(--gelo);
}
.user_name{
    font-size: 22px;
    text-align: center;
}

.user_pass{
    font-size: 22px;
    text-align: center;

}

.bnt_login{
    font-size: 22px;
    color: var(--preto);
    border: 1px solid var(--gelo);
    border-radius: 10px;
    background: var(--verde);
    padding: 00px 10px;
    top: 30px;
}
.bnt_login:hover{
    background-color: #00BFFF;
    border: 4px solid #19c463;
}
#password{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background: var(--gelo);
}
.title-logo{
    font-weight: 600;
    margin-left: 5%;
}
.title-logo span{
    color: var(--verde);
}

form{
    padding-top: 10px;
    background: var(--branco);
    padding-bottom: 20px;
    position: relative;
    align-items: center;
    text-align: center;
}

.img_user{
    width: 120px;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;
}